@import 'root1';


section{
    padding: 20px;
}

section h2 {
    margin-bottom: 20px;
    font-family: ‘Roboto Slab’, sans-serif;
    color: var(--seccolor);
}

li label {
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

li input {
   
    margin: 0px 10px;
    padding: 0px;    
}

li {
    display: flex;
    align-items: center;
}

input[type='text'], input[type='email']{
    border: 3px solid rgb(129, 121, 121);
    border-radius: 6px;
    height: 40px;
}

input[type='text'], input[type='email']{
    font-size: 20px;
    text-align: left;
    padding-left: 3px;
}

textarea{
    border: 3px solid rgb(129, 121, 121);
    border-radius: 6px;
    height: 140px;  
    font-size: 20px;
    padding-left: 3px;
}

.button {
    background-color: var(--seccolor);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#contactform article:nth-child(1){
    display:none;
}

#contactform article:nth-child(2){
    display:flex;
}

.cardouter{
    width: 90%;
}

.cardouter input {
    max-width: 45%;
}

@media (max-width: 600px) {
    .cardouter input {
        max-width: 90%;
    }
}

.labelgroup ul{
    padding-left: 10px;
}